h1{
    text-align: center;
    // margin-bottom: 50px;
}

body {
    background: white;
    font-size: 62.5%;
  }

.b_container {
padding: 2em;
}
.btn-1,.btn-2{
    width:50%;
}
/* BUTTON 1 */
.btn-1,
.btn-1::after {
-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
-o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
background: none;
border: 3px solid #EBDBC4;
border-radius: 5px;
color: #EBDBC4;
display: block;
font-size: 1.6em;
font-weight: bold;
margin: 3em auto;
padding: 2em 6em;
position: relative;
text-transform: uppercase;
// text-decoration-line : none;
}

.btn-1::before,
.btn-1::after {
background: #EBDBC4;
content: '';
position: absolute;
z-index: -1;
}

.btn-1:hover {
color: white;
}

.btn-1::after {
height: 0;
left: 0;
top: 0;
width: 100%;
}

.btn-1:hover:after {
height: 100%;
}

/* BUTTON 2 */
.btn-2,
.btn-2::after {
-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
-o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-2 {
background: none;
border: 3px solid #EBDBC4;
border-radius: 5px;
color: #EBDBC4;
display: block;
font-size: 1.6em;
font-weight: bold;
margin: 3em auto;
padding: 2em 6em;
position: relative;
text-transform: uppercase;
}

.btn-2::before,
.btn-2::after {
background: #EBDBC4;
content: '';
position: absolute;
z-index: -1;
}

.btn-2:hover {
color: white;
}

.btn-2::after {
height: 100%;
left: 0;
top: 0;
width: 0;
}

.btn-2:hover:after {
width: 100%;
}

