/* signup.css */
/* 로그인 페이지의 CSS와 매우 유사한 스타일을 가질 수 있습니다. */

.SU-background {
    background-color: #f7f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .SU-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .SU-container-logo {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* 추가된 회원가입 페이지 스타일 */
  
  .SU-container-form {
    margin-top: 20px;
  }
  
  .SU-container-form-input-text {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .SU-container-form-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .SU-container-form-signUpButton {
    background-color: #EBDBC4;
    color: black;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .SU-container-form-signUpButton:hover {
    background-color: #cec99f;
  }
  
  /* 비활성화된 상태에 대한 스타일 추가 */
  .SU-container-form-signUpButton-unActive {
    opacity: 0.5;
    pointer-events: none;
  } 